$light-text: #fff;
$purple-light-background: rgba(178, 196, 241, 0.475);
$purple-light: rgb(141, 134, 181);
$purple-dark: rgba(97, 92, 123, 0.671);
$red-light-background: rgba(162, 101, 129, 0.749);
$dark-blue: #2d3548;
$black: #000;