.header {
    height: 30vh;
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.52), rgba(117, 19, 93, 0.516)),
    url(../images/header_cocktail.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__titlecontainer {
        background-color: $header-background;
        min-width: 300px;
        width: 50%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    &__title {
        font-family: 'Playfair Display SC', serif;
        font-weight: 400;
        color: $light-text;
    }
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width:768px){
        flex-direction: row;
        width: 50%;
        justify-content: space-between;
    }
    @media all and (min-width: 1200px){
        width: 20%;
    }
    &__input {
        border: 1px solid rgba(133, 168, 255, 0.475);
        border-radius: 30px;
        background-color: $header-background;
        color: $light-text;
        padding-left: 12px;
        height: 30px;
        margin-bottom: 10px;
        &::placeholder {
            color: rgba(255, 255, 255, 0.673);
        }
        @media all and (min-width:768px){
            margin-bottom: 0;
            width: 300px;
        }
        @media all and (min-width:1200px){
            margin-right: 20px;
        }
    }
    &__button {
        color: $light-text;
        border: 1px solid $light-text;
        border-radius: 30px;
        width: 80px;
        height: 30px;
        padding: 3px;
        &:hover {
            background-color: $red-light-background;
        }
        @media all and (min-width:768px){
            margin-bottom: 0;
            width: 150px;
        }
    }
}