.main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include tablet {
        flex-direction: row;
    }
}
.results {
    width: 100%;
    min-height: 100vh;
    background-color: $blue-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
        width: 50%;
    }
    @include desktop {
        width: 60%;
    }
    &__titlecontainer{
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        color: $light-text;
        &--text {
            margin: 0 10px 10px 10px;
            border-bottom: 1px solid $light-text;
            border-top: 1px solid $light-text;
            font-weight: 300;
            padding: 10px;
            @include tablet {
                border-top: none;
                margin: 20px 30px 10px 30px;
            }
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        width: 300px;
        height: 250px;
        margin: 20px auto;
        &--name {
            font-weight: 300;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        &--img {
            border: 1px solid #fff;
            width: 150px;
            height: 150px;
            border-radius: 5%;
        }
    }
}


.favcontainer {
    width: 100%;
    background-color: $black;
    padding-bottom: 20px;
    @include tablet {
        width: 50%;
    }
    @include desktop {
        width: 40%;
    }
    &__title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        padding: 10px;
        background-color: $black;
        margin: 0 10px 10px 10px;
        border-bottom: 1px solid $light-text;
        border-top: 1px solid $light-text;
        color: $light-text;
        @include tablet {
            margin: 20px 30px 10px 30px;
            border-top: none;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.fav-cocktail {
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(202, 202, 250, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: 300px;
    margin: 20px auto;
    & h3 {
        font-family: 'Playfair Display SC', serif;
        font-weight: 400;
        color: $blue-light;
        margin-bottom: 10px;
    }
    & img {
        border: 1px solid #fff;
        width: 150px;
        height: 150px;
        border-radius: 5%;
        margin-bottom: 10px;
    }
}