.main-content {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    min-height: 90vh;
}

.favcontainer {
    width: 40%;
    background-color: azure;
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: rgb(245, 228, 220);
    &__item {
        background-color: rgb(245, 228, 220);
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        &--name {
            color: rgb(106, 119, 142);
            margin-bottom: 10px;
        }
        &--img {
            width: 200px;
            height: 250px;
            border: 5px solid rgba(106, 119, 142, 0.479);
            border-radius: 5%;
            margin-bottom: 10px;
        }
    }
}

.fav-cocktail {
    background-color: rgb(238, 172, 173);
    position: relative;
    border: 1px solid black;
    width: 300px;
    & h3 {
        color: #fff;
    }
    & img {
        border: 5px solid #fff;
    }
}